[*.cs]
csharp_style_namespace_declarations = file_scoped:warning

# CA1716: Identifiers should not match keywords
dotnet_code_quality.CA1716.analyzed_symbol_kinds = NamedType,Method,Property,Event,Parameter  # supressing Namespace due to "Lib"
