[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1716: Identifiers should not match keywords
dotnet_code_quality.CA1716.analyzed_symbol_kinds = NamedType,Method,Property,Event,Parameter  # suppressing Namespace due to "Lib"

[*.verified.txt]
trim_trailing_whitespace = false
