name: ci-inner
on:
  workflow_call:
    inputs:
      target:
        type: string
        required: true
      upload-packages:
        type: boolean
        required: false
        default: false
permissions: read-all
env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          # macOS
          - job:
              os: macos-15
            tests:
              framework: net10.0
              sdk: "10.0.101"
              sdk-major-minor: "10.0"
          # Linux x64
          - job:
              os: ubuntu-24.04
            tests:
              framework: net8.0
              sdk: "8.0.416"
              sdk-major-minor: "8.0"
          - job:
              os: ubuntu-24.04
            tests:
              framework: net9.0
              sdk: "9.0.308"
              sdk-major-minor: "9.0"
          - job:
              os: ubuntu-24.04
            tests:
              framework: net10.0
              sdk: "10.0.101"
              sdk-major-minor: "10.0"
          # Linux arm64
          - job:
              os: ubuntu-24.04-arm
            tests:
              framework: net8.0
              sdk: "8.0.416"
              sdk-major-minor: "8.0"
          - job:
              os: ubuntu-24.04-arm
            tests:
              framework: net9.0
              sdk: "9.0.308"
              sdk-major-minor: "9.0"
          - job:
              os: ubuntu-24.04-arm
              upload-packages: true
            tests:
              framework: net10.0
              sdk: "10.0.101"
              sdk-major-minor: "10.0"
          # Windows x64
          - job:
              os: windows-2025
            tests:
              framework: net10.0
              sdk: "10.0.101"
              sdk-major-minor: "10.0"
          # Windows arm64
          - job:
              os: windows-11-arm
            tests:
              framework: net10.0
              sdk: "10.0.101"
              sdk-major-minor: "10.0"
    name: ${{ matrix.job.os }}-sdk-${{ matrix.tests.sdk-major-minor }}
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: |
            ${{ matrix.tests.sdk }}
            10.0.101
      - run: dotnet --info
      - run: git --version
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - env:
          CI_NUMBER: ${{ github.run_number }}
          MINVER_VERSION: ${{ vars.MINVER_VERSION }}
          MINVER_TESTS_SDK: ${{ matrix.tests.sdk }}
          MINVER_TESTS_FRAMEWORK: ${{ matrix.tests.framework }}
          TARGET: ${{ inputs.target }}
        run: ./build "$TARGET" --verbose
        shell: bash
      - if: ${{ inputs.upload-packages && matrix.job.upload-packages }}
        uses: actions/upload-artifact@v6.0.0
        with:
          name: NuGet packages
          path: ./**/*.nupkg
