name: ci
on:
  push:
    branches: [main, release-*]
  pull_request:
permissions: read-all
env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          # old macOS, latest LTS
          - job:
              os: macos-13
            tests:
              framework: net8.0
              sdk: "8.0.406"
              sdk-major-minor: "8.0"
          # current macOS, latest LTS and latest
          - job:
              os: macos-14
            tests:
              framework: net8.0
              sdk: "8.0.406"
              sdk-major-minor: "8.0"
          - job:
              os: macos-14
            tests:
              framework: net9.0
              sdk: "9.0.200"
              sdk-major-minor: "9.0"
          # old Linux, latest LTS
          - job:
              os: ubuntu-20.04
            tests:
              framework: net8.0
              sdk: "8.0.406"
              sdk-major-minor: "8.0"
          # old Linux, latest LTS
          - job:
              os: ubuntu-22.04
            tests:
              framework: net8.0
              sdk: "8.0.406"
              sdk-major-minor: "8.0"
          # current Linux, all
          - job:
              os: ubuntu-24.04
            tests:
              framework: net8.0
              sdk: "8.0.406"
              sdk-major-minor: "8.0"
          - job:
              os: ubuntu-24.04
              upload: true
            tests:
              framework: net9.0
              sdk: "9.0.200"
              sdk-major-minor: "9.0"
          # old Windows, latest LTS
          - job:
              os: windows-2019
            tests:
              framework: net8.0
              sdk: "8.0.406"
              sdk-major-minor: "8.0"
            # current Windows, latest LTS and latest
          - job:
              os: windows-2022
            tests:
              framework: net8.0
              sdk: "8.0.406"
              sdk-major-minor: "8.0"
          - job:
              os: windows-2022
            tests:
              framework: net9.0
              sdk: "9.0.200"
              sdk-major-minor: "9.0"
    name: ${{ matrix.job.os }}-sdk-${{ matrix.tests.sdk-major-minor }}
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/setup-dotnet@v4.3.1
        with:
          dotnet-version: |
            ${{ matrix.tests.sdk }}
            9.0.200
      - run: dotnet --info
      - run: git --version
      - uses: actions/checkout@v4.2.2
      - env:
          CI_NUMBER: ${{ github.run_number }}
          MINVER_VERSION: ${{ vars.MINVER_VERSION }}
          MINVER_TESTS_SDK: ${{ matrix.tests.sdk }}
          MINVER_TESTS_FRAMEWORK: ${{ matrix.tests.framework }}
        run: ./build --verbose
      - if: matrix.job.upload
        uses: actions/upload-artifact@v4.6.0
        with:
          name: NuGet packages
          path: ./**/*.nupkg
