on:
  push:
    branches: [main, release-*]
    tags: ["*.*.*"]
  pull_request:
env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - job:
              os: macos-10.15
              build: ./build.sh
            tests:
              framework: net5.0
              sdk: "5.0.301"
          - job:
              os: ubuntu-18.04
              build: ./build.sh
            tests:
              framework: net5.0
              sdk: "5.0.301"
          - job:
              os: ubuntu-20.04
              build: ./build.sh
            tests:
              framework: netcoreapp2.1
              sdk: "2.1.816"
          - job:
              os: ubuntu-20.04
              build: ./build.sh
            tests:
              framework: netcoreapp3.1
              sdk: "3.1.410"
          - job:
              os: ubuntu-20.04
              build: ./build.sh
              push: true
            tests:
              framework: net5.0
              sdk: "5.0.301"
          - job:
              os: ubuntu-20.04
              build: ./build.sh
            tests:
              framework: net6.0
              sdk: "6.0.100-preview.5.21302.13"
          - job:
              os: windows-2016
              build: ./build.cmd
            tests:
              framework: net5.0
              sdk: "5.0.301"
          - job:
              os: windows-2019
              build: ./build.cmd
            tests:
              framework: net5.0
              sdk: "5.0.301"
    name: ${{ matrix.job.os }}-${{ matrix.tests.framework }}
    runs-on: ${{ matrix.job.os }}
    steps:
      - name: setup-dotnet tests-sdk
        if: matrix.tests.sdk != '5.0.301'
        uses: actions/setup-dotnet@v1.8.0
        with:
          dotnet-version: "${{ matrix.tests.sdk }}"
      - uses: actions/setup-dotnet@v1.8.0
        with:
          dotnet-version: "5.0.301"
      - run: dotnet --info
      - uses: actions/checkout@v2.3.4
      - env:
          CI_VERSION: ${{ secrets.CI_VERSION }}
          MINVER_TESTS_SDK: ${{ matrix.tests.sdk }}
          MINVER_TESTS_FRAMEWORK: ${{ matrix.tests.framework }}
        run: ${{ matrix.job.build }}
      - name: push
        env:
          API_KEY: ${{ secrets.MYGET_ADAMRALPH_CI_API_KEY }}
        if: matrix.job.push && matrix.tests.push && env.API_KEY != '' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
        run: |
          dotnet nuget push MinVer/**/*.nupkg --source https://www.myget.org/F/adamralph-ci/api/v2/package --api-key ${{ env.API_KEY }}
          dotnet nuget push minver-cli/**/*.nupkg --source https://www.myget.org/F/adamralph-ci/api/v2/package --api-key ${{ env.API_KEY }}
