name: ci
on:
  push:
    branches: [main, release-*]
  pull_request:
  workflow_dispatch:
permissions: read-all
jobs:
  eyeball-logs:
    uses: ./.github/workflows/ci-inner.yml
    with:
      target: eyeball-logs
  format:
    uses: ./.github/workflows/ci-inner.yml
    with:
      target: format
  test-lib:
    uses: ./.github/workflows/ci-inner.yml
    with:
      target: test-lib
  test-packages:
    uses: ./.github/workflows/ci-inner.yml
    with:
      target: test-packages
      upload-packages: true
