name: infer-sharp
on:
  push:
    branches: [main, release-*]
  pull_request:
permissions:
  security-events: write
jobs:
  infer-sharp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '10.0.103'
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: dotnet build
      - run: ls -al
      - run: pwd
      - uses: microsoft/infersharpaction@b749060de518f410f92c87d37d2366e5e9d7c5fc # v1.5
        with:
          binary-path: './MinVer'
      - run: cat infer-out/report.txt
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: InferSharp reports
          path: infer-out/report.*
      - uses: github/codeql-action/upload-sarif@e5f05b81d5b6ff8cfa111c80c22c5fd02a384118 # v3.23.0
        with:
          sarif_file: infer-out/report.sarif
